:root {
    /* Pixel colors */
    --fill-color: black;
    --default-fill-color: white;
    /* Page colors */
    --background-color: #f8f1f1;
    --background-color-hover: #dfdfdf;

    /* Button stuff */
    --default-font: sans-serif;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

header {
    font-family: var(--default-font);
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    text-shadow: 0px 0px 4px rgb(141, 135, 135);
}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

/* Options menu styling */
#drawOptions {
    width: 80px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#colorPicker, .color-wrapper, button {
    height: 80px;
    width: 80px;
    transition: transform 0.1s ease-in-out;
}

#colorPicker:hover, 
.color-wrapper:hover, 
button:hover {
    transform: scale(1.05);
}

button:hover {
    background-color: var(--background-color-hover);
}

.color-wrapper {
    border-radius: 50%;
    background-color: var(--fill-color);
    box-shadow: 0px 0px 6px black;
}

#colorPicker {
    opacity: 0;
}

button {
    border-radius: 50%;
    border: 1px none;
    box-shadow: 0px 0px 6px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--default-font);
    font-size: 16px;
    background-color: var(--background-color);
}

#slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

#sliderSize {
    margin: 0;
    font-family: var(--default-font);
    
}

#gridSize {
    width: 100%;
    -webkit-appearance: none;
    background: var(--default-fill-color);
    height: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    transition: transform 0.1s ease-in-out;
}

#gridSize:hover {
    transform: scale(1.25);
}


/* Draw window styling */

/* Prevents the user from dragging. Fixes issues with prolonged mousedown */
.unselectable {
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}

#etchWindow {
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    outline: 1px solid black;
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: var(--default-fill-color);
    -webkit-user-drag: none;
}

/* Class to be added and removed to remove window grid */
.hide-outline {
    outline: none;
}

/* Footer styling */
footer {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

img {
    width: 24px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

img:hover {
    transform: rotate(-360deg) scale(1.1);
}

footer p {
    font-family: var(--default-font);
}